* {
    border: 1px solid black;
}

table {
	margin: 0 auto;
}

td {
    height: 2vw;
    width: 2vw;
}

.food {
	background-color: green !important;
}

.nest {
	background-color: brown !important;
}

.ant {
	background: url('ant.jpg');
	background-size: contain;
}

.pheromone {
	background-color: #FFD;
}