body {
	margin: 5% auto;
}

main {
  text-align: center;
}

.canvases {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 600px;
	margin: 2% auto;
	transform: rotate(-10deg);
}

.square {
	height: 250px;
	width: 250px;
	border: 10px solid black;
	border-radius: 150px;
}

.green {
	background-color: #0A0;
}

.blue {
	background-color: #00A;
}

.red {
	background-color: #A00;
}

.yellow {
	background-color: #AA0;
}

.orange {
	background-color: #FA0;
}

.purple {
	background-color: #A0A;
}