body {
	text-align: center;
}

.canvases {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 70vh;
	margin: auto;
}

.square {
	height: 20vh;
	margin: 1vh;
	width: 20vh;
	border: 10px solid black;
	border-radius: 150px;
}

.green {
	background-color: #0A0;
}

.blue {
	background-color: #00A;
}

.red {
	background-color: #A00;
}

.yellow {
	background-color: #AA0;
}

.orange {
	background-color: #FA0;
}

.purple {
	background-color: #A0A;
}