<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Productivity Timer and To-do List</title>
    <meta name="description" content="Productivity timer and to-do list">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Fresca|Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    </script>
</head>

<body>
    <main class="col">
        <section class="quadrant col info" id="info">
            <h1>Productivity Clock</h1>
            <p>Maximize your productivity by alternating short breaks with longer working periods.</p>
            <hr>
            <p>Right now you should be</p>
            <h2><span id="activity">Setting your timers</span></h2>
        </section>
        <section class="quadrant col" id="clock">
            <div class="clock">
                <h2><span id="session">Task</span></h2>
                <h3>Time Left:</h3>
                <h1 class="" id="clockTime">00:00 </h1>
            </div>
        </section>
        <section class="quadrant" id="cpanel">
            <div class="cpanel row" id="cpanel-top">
                <div>
                    <h2>Work time</h2>
                    <button class="brown sub-time" id="subW"> - </button>
                    <span class="time" id="workTime"> [25] </span>
                    <button class="green add-time" id="addW"> + </button>
                </div>
                <div>
                    <h2>Break time</h2>
                    <button class="brown sub-time" id="subB"> - </button>
                    <span class="time" id="breakTime"> [5] </span>
                    <button class="green add-time" id="addB"> + </button>
                </div>
            </div>
            <div class="cpanel controls">
                <button class="green" id="start">Start</button>
                <button class="red" id="stop">Stop</button>
                <button class="brown" id="reset">Reset</button>
            </div>
        </section>
        <section class="quadrant ToDo" id='todo'>
            <div>
                <h2>To Do</h2>
                <hr />
                <input type='text' v-model='newItem' aria-label="Input for new to-do task"/>
                <button class='brown' aria-label="Add item to to-do list" @click='add()'>Add ToDo</button>
                <hr />
                <ul>
                    <template v-for='(item, index) in tasks'>
                        <li v-show='!item.done'>
                            <input type='checkbox' @click='item.done=!item.done' unchecked aria-label="selector for item on to-do list"/>
                            <input type='text' class='seethru' v-bind:class='noedit' class='noedit' v-model='item.task' aria-label="To-do list item">
                            <button class='brown add-time' @click='remove(item, index)' aria-label="Remove this item from to-do list">x</button>
                        </li>
                    </template>
                </ul>
            </div>
            <hr />
            <div>
                <ul>
                    <template v-for='item in tasks'>
                        <li v-show='item.done'>
                            <input type='checkbox' @click='item.done=!item.done' checked aria-label="Mark to-do list item as unfinished"/>
                            <input class='finished' type='text' v-bind:class='noedit' v-model='item.task' disabled='disabled' aria-label="completed to-do list item"/>
                        </li>
                    </template>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <audio id="soundW" src="snd/isteak_bell.mp3" type="audio/mp3"></audio>
        <audio id="soundB" src="snd/herbertboland_piano3.mp3" type="audio/mp3"></audio>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous">
    </script>
    <script src="./js/main.js"></script>
</body>

</html>