html {
    min-height: 100vh;
}

body {
    background-color: #FCFCFF;
    background: url('img/ingmato.jpg'), #FCFCFF;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 75%;
    font-family: 'Lato', sans-serif;
    margin: 2% auto;
}

h1,
h2,
h3,
h4,
button {
    font-family: "Fresca", sans-serif;
}

hr {
    border: 2px outset #AA1F18;
    width: 75%;
}

footer {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    color: white;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 2;
}

h1 {
    font-size: 1.75em;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    font-size: 1.5em;
    cursor: pointer;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-flow: column;
}

.quadrant {
    margin: 1% auto;
    padding: 5px;
    text-align: center;
    width: 55vw;
}

.info {
    background-color: black;
    background: rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 5px #46321F;
    color: white;
    line-height: 1;
}

.ToDo {
    background-color: white;
    background: rgba(255,255,255,.5);
    border: 1px solid #050;
    box-shadow: 1px 1px 3px #050;
    color: black;
    overflow-y: scroll;
    text-align: center;
}

.ToDo button {
    background-color: white;
    font-size: 1em;
    font-family: "Fresca", sans-serif;
    padding: 5px;
}

.ToDo input {
    border: none;
    font-family: 'Lato', sans-serif;
    padding: 5px;
}

.ToDo input[type='checkbox'] {
    background-color: white;
    height: 1em;
    width: 1em;
    padding: 0.5em;    
}

.finished {
    color: #999;
    text-decoration: line-through;
}

.noedit {
    border: none;
    cursor: pointer;
}

.cpanel {
    background-color: gray;
    background: rgba(80, 80, 80, .5);
    border: 1px solid black;
    justify-content: space-around;
    margin: 0 auto;
    min-width: 40%;
}

.cpanel h2 {
    color: white;
}

.controls {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1em;
}

.controls button {
    border-radius: 0 40px 0 40px;
    box-shadow: 2px 2px 5px #2D1A08;
    color: white;
    flex: 1;
    margin: 5px;
}

.time {
    background-color: white;
    border: 1px inset #CFC;
    color: #AA1F18;
    font-size: 1.5em;
    padding: 0px 5px;
}

.add-time {
    border-radius: 20px 0px 20px 10px;
    color: white;
    padding: 3px 8px;
    margin: 3px;
}

.sub-time {
    border-radius: 0px 20px 10px 20px;
    color: white;
    padding: 3px 8px;
    margin: 3px;
}

.left {
    max-width: 25vw;
}

.clock {
    background-color: white;
    background: rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 3px #050;
    font-size: 2em;
    padding: 1em;
}

.clock h2 {
    margin: 0;
}

.green {
    background-color: #080;
    background: linear-gradient(to bottom right, #0A0, #060 75%);
    border: 2px solid #020;
}

.green:hover,
.green:active {
    background-color: #0A0;
    background: linear-gradient(to bottom right, #0C0, #080 75%);
    border: 2px solid transparent;
    box-shadow: 2px 2px 10px #0A0;
}

.brown {
    background-color: #744D28;
    background: linear-gradient(to bottom right, #845D38, #3D2015 75%);
    border: 2px solid #2D1A08;
}

.brown:hover,
.brown:active {
    background-color: #845D38;
    background: linear-gradient(to bottom right, #B58558, #845D38 75%);
    border: 2px solid transparent;
    box-shadow: 2px 2px 10px #46321F;
}

.red {
    background-color: #FF6347;
    background: linear-gradient(to bottom right, #FF6347, #B04427 75%);
    border: 2px solid #AA1F18;
}

.red:hover,
.red:active {
    background-color: #FF6347;
    background: linear-gradient(to bottom right, #FF9F60, #FF6347 75%);
    border: 2px solid transparent;
    box-shadow: 2px 2px 10px #AA1F18;
}

.gray {
    background-color: gray;
}






/*
@media screen and (max-width: 800px) {
    .quadrant {
        margin: 0 auto;
    }
    h1 {
        font-size: 1.5em;
    }
    .info p {
        font-size: 0.8rem;
    }
    .time {
        font-size: 1.5em;
    }
}
*/

@media screen and (max-width: 450px) {
    body {
        margin: 2% auto;
    }

    h1,
    h2,
    h3 {
        margin: 5px;
    }
    .cpanel {
        flex-direction: column;
    }
    .quadrant {
        width: 75vw;
    }
    .time {}
}