a:link,
a:visited,
a:hover,
a:active {
    color: white;
}

html {
    background-color: #EEE;
    background: linear-gradient(to top, rgba(200, 200, 200, .3), rgba(200, 200, 200, .9));
}


/*
#bg-wrapper {
	background: url("bgtop.png"), url("bgbase.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center, bottom;
	background-size: 100% 100%, 100%;
	padding: 0;
	margin: 0;
}
*/

body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: "PT Mono", monospace;
}

h1 {
    font-size: 2.5em;
}

footer {
    background-color: black;
    background: url("bgbase.png");
    background-size: auto 100%;
    background-position: top right;
    z-index: 3;
    height: 30vh;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    left: 0;
    padding: 1.5em;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    transition: opacity 2s;
    opacity: 0;
}

nav ul {
    padding: 0;
}

main {
    margin: 5%;
}

main > div {}

h1 {
    padding-top: 50px;
}

main ul,
main li {
    line-height: 1.5em;
}

li {
    font-size: 1.2em;
}

.tall {
    min-height: 90%;
    min-height: 90vh;
}

.showbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2vh auto;
}

.box {
    margin: 1em;
    width: 30vw;
    max-width: 400px;
    justify-content: center;
    text-align: center;
    display: block;
    border: 3px dotted #2D3D23;
    transition: box-shadow 1s, border-color 1s, width 1s;
}

.box p {
    font-size: 0;
    padding: 5px;
    opacity: 0;
    transition: height 1s, opacity .5s;
    transition-delay: 0s, .75s;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    width: 40vw;
    padding: 25px;
}

.thumbnail {
    height: 0;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    transition: height 1s, width 1s;
}

.nav-left {
    justify-content: flex-start;
    padding: 0.5em 2em;
}

.nav-right {
    justify-content: flex-end;
    padding: 0.5em 2em;
}

.nav-left a {
    margin: 1em;
}

.nav-right a {
    margin: 1em;
}

.category {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    transition: box-shadow 2s, background-color 1s;
    padding: 0;
    max-width: 1200px;
}

.category span {
    font-size: 1.25em;
    margin: 10px;
    padding: 1em;
}

.centerBtns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10%;
    max-height: 40vh;
}

.styleBtn {
    margin: 2em;
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    font-size: 2rem;
    border-radius: 30px;
}

.contactBtns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

.contactBtn {
    margin: 1em;
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    border-radius: 30px;
}

.textfade {
    transition: opacity .5s, visibility .5s;
}

.btnfade {
    transition: opacity .5s, visibility .5s;
}

.orange {
    border-color: #FA0;
    box-shadow: 2px 2px 10px #FA0;
}

.yellow {
    border-color: yellow;
    box-shadow: 2px 2px 10px yellow;
}

.lavender {
    border-color: rgb(136, 146, 191);
    box-shadow: 2px 2px 10px rgb(136, 146, 191);
}

.blue {
    border-color: rgb(0, 0, 180);
    box-shadow: 2px 2px 10px rgb(0, 0, 180);
}

.topic {}

.green {
    border-color: rgb(0, 180, 0);
    box-shadow: 2px 2px 10px rgb(0, 180, 0);
}

#bee {
	position: absolute;
}

#nextBtn {
    font-size: 1.5em;
    float: right;
    margin-right: 5%;
    padding: 10px;
}

#bee {
	width: 32px;
	height: 32px;
	position: relative;
	animation-name: bee1;
	animation-duration: 10s;

}

@keyframes bee1 {
    0% {
        top: 0;
        right: 0;
    }
    25% {
        top: 20vh;
        right: 20vw;
    }
    50% {
        top: 50vh; right: 50vw;
    }
    75% {
        top: 75vh;
        right: 90vw;
    }
    100% {
        top: 99vh;
        right: 99vw;
    }
}
