body {
    background-color: rgb(230, 230, 255);
    background: url('towerclock2.jpg');
    background-size: cover;
    margin: 5% auto;
    max-width: 1000px;
    font-family: 'Playfair Display', serif;
}
