html {
    background-color: rgb(230, 230, 255);
    background: url('towerclock2.jpg');
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: 'Playfair Display', serif;
    margin: 5% auto;
    max-width: 800px;
    position: relative;
    width: 90%;
}

header {
    line-height: 75%;
    font-family: 'Arvo', serif;
}

header p {
    font-weight: bold;
}

main {
    padding-top: 2%;
}

button,
input {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

h4 {
    margin-top: 0;
    padding-top: 0;
}

input[type=radio] {
    height: 1.25em;
    margin-right: 2px;
    width: 1.25em;
    vertical-align: middle;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 2% auto;
}

footer a {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 80%;
  font-weight: bold;
}

.rectangle {
    background-color: #644;
    background-color: rgba(50, 30, 30, 0.7);
    border: 3px inset grey;
    box-shadow: 2px 2px 5px gray;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 80vw;
    padding: 1em;
    text-align: center;
}

table {
    margin: 0 auto;
    text-align: left;
}

.date {
    max-width: 2em;
}

.emph {
    font-size: 1.2em;
    font-weight: bold;
}
