@import url('https://fonts.googleapis.com/css?family=Nova+Mono|Rokkitt');

html {
}

body {
  display: flex;
  vertical-align: middle;
  background: url('INGmato.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rokkit', serif;
  min-height: 100vh;
  padding: 1vw;
}

h1 {
  font-family: "Nova Mono", monospace;
  font-weight: bold;
}

p {
  font-weight: bold;
}

.big {
  //font-size: 5rem;
  font-weight: bold;
}

.stripe {
  background-color: white;
  margin: 2vw auto;
  width: 100%;
}

.clock {
  display: flex;
  flex-flow: column;
  justify-content: center;
  vertical-align: middle;
  background-color: white;
  border: 5px solid green;
  border-radius: 50vw;
  margin: auto;
  padding: auto;
  min-height: 40vh;
  width: 40vh;
}

.btn {
  font-size: 1.5em;
}

.smbtn {
  height: 2em;
  width: 2em;
}

.session {
  color: red;
  //font-size: 120%;
}

footer {
  bottom: 0;
  color: green;
  position: fixed;
}

.controls {
  padding: 20px;
}